@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-display: auto;
  src:
    local('Abril Fatface'),
    url('/public/fonts/AbrilFatface-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Futura Book';
  font-style: normal;
  font-display: auto;
  src:
    local('Futura Book'),
    url('/public/fonts/Futura-Book.woff') format('woff');
}

.abril-fatface-font {
  font-family: 'Abril Fatface';
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 5px;
}

.futura-regular-font {
  font-family: 'Futura Book';
  line-height: 125%;
}
